.Header{
    &-navWrapper{
        @extend %flex-row;
        flex-wrap: nowrap;
        justify-content: center;

        margin: 0 auto;

        padding-left: 0;
        padding-right: 0;    
        
        position: relative;

        width: 100%;        
    }
    
    &-logo{
        max-width: 140px;
        width: 100%;
    }

    &-item{
        line-height: 100px;
        list-style-type: none;
        
        padding-left: 27.5px;
        padding-right: 27.5px;

        & > a{
            color: $black;
            text-decoration: none;
            font-weight: 600;

            &:hover{
                color: #E45679;
            }
        }

        &:first-child{
            padding-left: 1rem;
        }        
    }

    &-item:hover > &-submenu{
        bottom: -54px;      
        opacity: 1;
        z-index: 2;  
    }

    &-submenu{
        line-height: initial;

        opacity: 0;

        position: absolute;
        bottom: -100px;

        transition: all 0.3s ease-in;

        width: 275px;      
        z-index: -1;
    }

    &-submenuItem{
        background-color: $black;
        color: $white;

        display: block;

        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-top: 1rem;

        width: 100%;

        &:hover{
            color: $white;
            text-decoration: none;
        }        
    }
}


.Banner{
    &-wrapper{
        @extend %flex-row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        background: linear-gradient(left, #FFB607 50%, #F4F4F4 50%);

        margin: 0 auto;

        max-width: 90vw;

        height: 850px;
        width: 100%;
    }

    &-wrapperText{
        animation: wellcomeTo 3s normal;

        border-left:21px solid $black;


        padding-left: 41px;

        position: relative;
        right: 42px;
        bottom: 16px;

        transform: rotate(90deg);

        width: 100%;
        max-width: 250px;
    }
    
    &-title{
        font-size: 20px;
        letter-spacing: 4px;
        font-weight: 700;
    }

    &-text{
        font-size: 13px;
        font-weight: 620;
    }

    &-WrapperTitle{
        line-height: 70px;

        position: relative;
        right:70px;

        width: 100%;
        max-width: 650px;
        word-wrap: break-word;
    }

    &-principalTitle{
        animation: sumi 4s normal;

        font-size: 210px;
        font-weight: 800;

        position: relative;

        letter-spacing: 20px;
    }

    &-principalTitle2{
        animation: restaurant 2s normal;

        font-size: 85px;

        position: relative;

        letter-spacing: 13px;
    }

    //Amation for wellcome to
    @keyframes wellcomeTo{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
        
    }

    //Animation SUMI
    @keyframes sumi{
        0%{
            right: 52px;
            opacity: 0;
        }
        100%{
            right: 0;
            opacity: 1;
        }
    }
    
    
    //Animation restaurant
    @keyframes restaurant{
        0%{
            left: 40px;
            opacity: 0;
        }
        100%{
            left: 0;
            opacity: 1;
        }
    }

    @media (max-width: 992px) {
        &-wrapperText{
            transform: rotate(0deg);
            right: unset;
            bottom: 45px;
        }
        
        &-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
         }

        
        &-WrapperTitle{
            left: unset;
            word-wrap: unset;
            position: unset;
        }
    
        &-principalTitle2{
               
            display: block;
        }
    }

    @media (max-width: 505px) {
        &-principalTitle{    
            font-size: 100px;
        }
    
        &-principalTitle2{    
            font-size: 40px;
        }
    }


}

.OurStory{
    &-wrapper{
        @extend %flex-row;
        flex-wrap: wrap;

        justify-content: space-around;

        padding-top: 100px;
        padding-bottom: 100px;
    }

    &-text{
        max-width: 496px;
        font-size: 14px;
    }

    &-list{
        list-style-type: none;
        padding-left: 0px;
        line-height: 30px;

        i{
            color: red;
            font-size: 8px;
        }
        
    }

    &-item{
        font-size: 14px;
    }
}

.Latest{
    &-wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    &-boxPrincipal{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 85px;
        padding-left: 28px;
        padding-right: 28px;
        max-width: 280px;
        width: 100%;
    }

    &-preTitle{
        font-size: 30px;
        font-weight: 600;
        color: $black;
        margin-bottom: 7px;
    }

    &-title{
        font-size: 50px;
        color: $black;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 30px;
        position: relative;

        &::before{
            position: absolute;
            content: "";
            width: 30px;
            height: 7px;
            background-color: #e44c2a;
            top: 57px;
            left: -19px;
        }
    }

    &-text{
        color: $black;
        font-size: 14px;
        max-width: 200px;     
        width: 100%;
    }

    &-box{
        display: flex;
        flex-direction: column;
        background-color: #f5f5f5;
        padding-top: 55px;
        padding-bottom: 55px;
        padding-left: 30px;
        padding-right: 30px;
        max-width: 280px;
        width: 100%;

        &.white{
            background-color: $white;
        }
    }

    &-date{
        font-size: 12px;
        color: #9999a5;
        margin-bottom: 30px;    
    }

    &-link{
        font-size: 18px;
        color: #666;
        margin-bottom: 25px;
        font-weight: 600;
        
        &:hover{
            color: $red-text;
            text-decoration: none;
        }

    }

    &-boxText{
        color: #9999a5;
        font-size: 14px;
        margin-bottom: 46px;
        max-width: 201px;
        width: 100%;
    }

    &-linkEnd{
        font-size: 11px;
        font-weight: 700;
        color: $red-text;
        position: relative;
        &:hover{
            text-decoration: none;
            color: $red-text;
        }

        &:after{
            position: absolute;
            content: "";
            width: 30px;
            height: 1px;
            background-color: #e44c2a;
            top: 8px;
            left: 75px;
        
        }
    }

    &-image{
        max-width: 280px;
        width: 100%;
    }

    &-image2{
        max-width: 270px;
        width: 100%;
    }

    @include media-breakpoint-down(lg){
        iframe{
            width: 270px;
        }
    }

        @include media-breakpoint-down(md){
            &-boxPrincipal{
                max-width: 270px;
            }

            &-box{
                display: flex;
                flex-direction: column;
                background-color: #f5f5f5;
                padding-top: 55px;
                padding-bottom: 55px;
                padding-left: 30px;
                padding-right: 30px;
                max-width: 270px;
                width: 100%;

                &.white{
                    background-color: $white;
                    max-width: 270px;
                    width: 100%;
                }
        }

        &-image{
            max-width: 270px;
            width: 100%;
        }
    }
}

.Customer{
    padding-top: 100px;
    padding-bottom: 78px;

    &-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &-title{
        font-size: 28px;
        font-weight: 600;
        text-align: center;
        color: $black;
        margin-bottom: 34px;
    }

    &-text{
        font-size: 14px;
        font-style: italic;
        max-width: 524px;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }    

    &-name{
        font-size: 12px;
        text-align: center;
        color: $red-text;
        font-weight: 600;
        margin-bottom: 10px;        

        &:hover{
            color: $red-text;
            text-decoration: none;
        }
    }

    &-profession{
        font-size: 10px;
        text-align: center;
        color: #999;
    }

    &-carouselControl{
        color: $black;
        transition: all 0.25s ease;

        &:hover{
            color: $black;
            transform: scale(1.2) rotate(360deg);
            
        }
    }

    &-tet{
        color: red;
    }

    @include media-breakpoint-down(sm){
        &-text{
            font-size: 14px;
            font-style: italic;
            max-width: 235px;
            width: 100%;
            text-align: center;
            margin-bottom: 50px;
        }    
    }
}

/*Footer :3*/
.container{
    &.wrapper{
        max-width: 1200px;
        width: 100%;
        padding: 0;
    }
}

.Footer{
    &-Wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        border-bottom: 1px solid $borde;
        margin-bottom: 40px;
    }
    
    &-title{
        margin-bottom: 35px;
        font-weight: 700;
        font-size: 18px;
        color: black;
    }

    &-image{
        position: relative;

        &.img{
            margin-bottom: 10px;
        }
        &::before{
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background-color: transparent;
            top: 0;
            left: 0;
        }
        &:hover::before{
            background-color: rgba(red, $alpha: 0.5);
        }
    }

    /*About Us*/
    &-aboutUs{
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
        width: 300px;
        margin-bottom: 30px;
    }
    &-aboutUsText{
        font-size: 15px;
        color: $font;
    }
    &-aboutUsData{
        font-size: 15px;
        color: $font;
        margin-bottom: 15px;
    }

    /*LatesPosts*/
    &-latestPosts{
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 30px;
        width: 300px;
    }
    &-latestPostsWrapper{
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        &.borde{
            padding-bottom: 19px;
            border-bottom: 1px solid $borde;
            margin-bottom: 19px;
        }
    }
    &-wrapper{
        display: flex;
        flex-direction: column;
        max-width: 170px;
        width: 100%;
    }
    &-latestPostsLink{
        font-size: 15px;
        color: $font;
        font-weight: 700;
        margin-bottom: 15px;
        &:hover{
            text-decoration: none;
            color: $hover;
        }
    }
    &-date{
        color: $gray;
        font-size: 13px;
        font-weight: 600;
    }

    /*User Links*/
    &-userLinks{
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 30px;
        width: 300px;
    }
    &-userLinksWrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &-linkWrapper{
        display: flex;
        flex-direction: column;
    }
    &-link{
        font-size: 15px;
        color: $font;
        &:hover{
            text-decoration: none;
            color: $hover;
        }
        &::before{
            content: "\203A";
            color: $font;
            font-size: 1.5rem;

        }
    }
    &-Socialnetworks{
        font-size: 15px;
        color: $font;
        margin-bottom: 15px;
        
        &:hover{
            text-decoration: none;
            color: $hover;
        }
    }

    /*Instagram*/
    &-instagram{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 30px;
        width: 300px;
    }

    &-instagramImage{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &-copyright{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 35px;
        padding: 15px;
        i{
            color: $hover;
        }
    }
    &-copyrightText{
        font-size: 15px;
        color: $font;
    }
    &-copyrightLink{
        font-size: 15px;
        color: $hover;
        &:hover{
            text-decoration: none;
            color: $black;
        }
    }

    @include media-breakpoint-down(md){
        &-title{
            text-align: center;
        }
    }
    @include media-breakpoint-down(xs){
        &-copyrightText{
            margin-bottom: 15px;
            text-align: center;
        }
        &-copyright{
            flex-direction: column;
            align-items: center;
        }
    }
}
