%flex-row{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

%flex-column{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}